header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background: linear-gradient(#010101, #464341);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  svg {
    cursor: pointer;
    margin-right: 20px;
  }

  .logo {
    svg {
      &:first-child {
        margin: 0 4px 0 20px;
      }
    }
  }
}
