@font-face {
  font-family: "Manrope-B";
  src: url("./Manrope-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Manrope";
  src: url("./Manrope-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "OrchideaPro";
  src: url("./OrchideaPro-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: "OrchideaPro-I";
  src: url("./OrchideaPro-MediumItalic.ttf");
  font-weight: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
  font-weight: normal;
}
