footer {
  height: 200px;
  width: 100%;
  background: #141414;
  text-align: center;

  span {
    position: relative;
    top: 68px;
    font-family: OrchideaPro;
    font-size: 14px;
    line-height: 16.41;
  }
}
